.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{
  text-decoration: none ; 
  color:grey ;
  font-family: 'goodtime';
}
a:hover{
  color: #66B933;
}

input:focus{
  outline: none;
}
button:focus{
  outline: none;
}
.sections {
  width: 100%;
  background-color: #1C1C21;
  position: relative; }

.links-nav {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .links-nav li {
    list-style: none;
    padding: 10px 0 10px 10px;
    height: 100%; }
    .links-nav li a {
      height: 100%;
      padding: 14px; }
    .links-nav li a:hover {
      color: black;
      background-color: #66B933;
      transition: 0.5s; }
